---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<footer>
  <div class="flex justify-center">
  <Themetoggle />
</div>
<div class="flex justify-center">

  <p text-xs>
    <a
      
      href="https://tigg.cc" target="_blank" class="text-gray-500"
    >
      挖互联网
    </a>
  </p>
</div>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1e129396b2da968b180a82fc3c253859";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>  
</footer>

