---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb flex justify-center">
    <img class="w-10 h-10 " src="/logo.png" />
  </div>
  <div class="fi mt-2 flex justify-center">
    <span class="gpt-title">ChatTigg</span>
  </div>
</header>
